/* @font-face {
    font-family: 'AirbnbCereal_W_Bd';
    src: url('AirbnbCerealWBd.woff2') format('woff2'),
        url('AirbnbCerealWBd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AirbnbCereal_W_Blk';
    src: url('AirbnbCerealWBlk.woff2') format('woff2'),
        url('AirbnbCerealWBlk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AirbnbCereal_W_Bk';
    src: url('AirbnbCerealWBk.woff2') format('woff2'),
        url('AirbnbCerealWBk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AirbnbCereal_W_XBd';
    src: url('AirbnbCerealWXBd.woff2') format('woff2'),
        url('AirbnbCerealWXBd.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AirbnbCereal_W_Md';
    src: url('AirbnbCerealWMd.woff2') format('woff2'),
        url('AirbnbCerealWMd.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AirbnbCereal_W_Lt';
    src: url('AirbnbCerealWLt.woff2') format('woff2'),
        url('AirbnbCerealWLt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
} */

/* ------------------------------------------------------------------------------ */



body {
    background-color: #e3e3e3;
    /* Light gray background for body */
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #e3e3e3 !important;
    border-bottom: 0.1px solid black !important;
    height: 5rem;
}

#navbarNavAltMarkup {
    margin-left: 1.5rem;
}

#navbarNavAltMarkup:hover {
    opacity: 1;
}

.navbar-custom {
    padding-left: 20px;
    /* Adjust as needed */
}

.navbar-brand {
    /* max-height: 40px;
    /* Adjust as needed */
    /* margin-right: 10px; */
    color: #FF5A5F;
    /* Space between logo and text */
}

.navbar-brand:hover {
    /* max-height: 40px;
    /* Adjust as needed */
    /* margin-right: 10px; */
    color: #FF5A5F;
    /* Space between logo and text */
}

.navbar-light .navbar-nav .nav-link {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.navbar-light .navbar-nav .nav-link:hover {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

nav {
    font-family: "Poppins", sans-serif !important;
    font-weight: 800 !important;
    font-style: normal !important;
}


.font {
    font-family: 'AirbnbCereal_W_XBd';
    font-weight: 800;
    font-style: normal;
}

img {
    height: 200px;
    width: 70px;
}

/* .card {
    display: flex;
    flex-direction: column;
    height: 100%;
} */

.card-body {
    flex: 1;
    background-color: #fdbaba;
}

/* .card-img-top {
    height: 200px;
    /* Adjust as needed */
/*object-fit: cover;
} */

.container {
    margin-top: 2rem;
}


.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 0.3s, box-shadow 0.3s;
    border: 1px solid transparent;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #FF5A5F;
    /* Red border on hover */
}

.card:hover .card-title,
.card:hover .card-text {
    color: #FF5A5F;
    /* Red text on hover */
}

.card-img-top {
    transition: transform 0.3s;
}

.card:hover .card-img-top {
    transform: scale(1.05);
    /* Slightly zoom in the image */
}

a {
    text-decoration: none;
}

/* Style for the custom horizontal line above the footer */
.footer-hr {
    border: 0;
    height: 1px;
    background-color: #000000;
    /* Light grey color */
    width: 90%;
    /* Adjust the value as needed for the desired length */
    margin: 2rem auto;
    /* Center the line and add top/bottom spacing */
}